.container {
    /* general styles here... */
    /* activate 3D space */
    perspective: 800px;
}
td{
    width: 100px;
    height: 100px;
}
.card {
    /* general styles here... */
    
    width: 100px;
    height: 100px;
    transition: all .4s linear;
    /* allow child elements to be positioned in 3D space of their own */
    transform-style: preserve-3d;
}

.face {
    /* general styles go here... */
   /* position faces absolutely so that they stack on top of each other */
    position: absolute;
    width: 100%;
    height: 120%;
    
    /* prevent the front face from showing through the back */
    backface-visibility: hidden;
}

.back {
    /* ... */
    /* initially rotate the element in the back so that when the card is flipped, it faces the viewer */
    transform: rotateY(180deg);
}

.front{
    background-image:url("images/back-card.svg") ;
    background-size: 100%;
}
/* when the card is hovered, rotate it. This will allow the back face to face the viewer. */
.espacio{
    height: 50px;
}
.button{
    border-radius: 100%;
    background-color: dodgerblue;
    width: 100px;
    height: 100px;
    margin-top: 7%;
    align-content: center
}
.container{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}
body{
    background-color:#3399eeff;
}